 <h1>Create New Account</h1>

<%if session["id"] == nil%>
  <p>Please fill out the form below and click submit!<p>
  <form method="POST" action="/create_account">
    Create a New Account:
    <br>
    <br>
    Full Name: <input type="text" name="post[fullname]">
    <br>
    <br>
    Email: <input type="text" name="post[email]">
    <br>
    <br>
    Password: <input type="text" name="post[password]">
    <br>
    <br>
    <input type="submit">
  </form>
<%else%>
    <h2>Please sign out to create a new account! You are already logged in!<h2>
<%end%>



<h3><a href="/">Home</a></h3>



